# Environments
.env
.venv/
env/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Project specifics
logs/
output/

# Bỏ qua các file Excel data nặng để tránh cảnh báo GitHub
data/*.xlsx
data/*.xlsm
data/*.xlsb
data/*.csv

# Build & Packaging
dist/
build/
*.exe
*.spec
version_info.txt
